<!doctype html>
<html lang="de">
    {% block header %} {% endblock %}
  <body>
    {% block navigation %}{% endblock %}
    {% block main %}{% endblock %}
    {% block footer %}{% endblock %}
  </body>
</html>
